body{
  background-color: #303030;
  margin: 0%;
  padding: 0%;
  }

h3{
  color:white;
  padding: top 1%;
  }

.logo{
    height:18px;
    width:18px;
    margin-bottom: -5px;
  }

  input[type=checkbox] {
    background-color:#424242;
    border-color: white;
    color: #424242;
}


p{
  color:white;
  font-size: 16px;
  }

span{
  color:white;
  margin-top: 2px;
  margin-right: 20px;
  font-family: Calibri;
  font-size: 13px;
  }
h5{
  color:rgb(243, 181, 66);
  opacity: 0.8;
  font-size:12px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 25px;
  margin-right: 187px;
  font-family: Calibri;
  }

.button1{
  width:150px;
  border-style: none;
  height:25px;
  border-radius: 3px;
  color:white;
  opacity:0.4;
  background-color:rgb(95, 84, 84);
  }

span{
    font-size: 16px;
  }

.button2{
    width:170px;
    border-style: none;
    height:50px;
    border-radius: 3px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    opacity:0.4;
    background-color:rgb(95, 84, 84);
    }

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  }

.div1{
  height: 479.34px;
  width: 400px;
  background-color:#424242;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  max-width: fit-content;
  border-width: 10px;
  align-content: center;
  }
.span1{
   margin-right: 76px;
   font-size: 12px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
  }

.checkbox{
  border-color: white;
  background-color:rgb(18, 36, 36);
  border:1px;
  background-color: transparent;
  border-style: solid;
  }

.large{
  height: 479.34px;
  width: 600px;
  background-color:#424242;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  max-width: fit-content;
  border-width: 10px;
  align-content: center;
  }

::placeholder{
    color:white;
    opacity:1;
    font-family:Calibri;
    margin-left: 5px;
  }

.input1{
  background-color: #424242;
  height:55px;
  color:white;
  width:300px;
  border: 0.1px solid whitesmoke;
  border-radius: 4px;
  opacity:0.4;
  border-color: white;
  }

.input1:active{
    border-color: red;
  }

.input1:hover{
    border-color: red;
    border: 2px solid red;
  }

.class1{
  margin-right: 255px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  }
  
.class2{
  color:rgb(243, 181, 66);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 2%;
  font-size: 12px;
  }

legend{
  color:white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
 
  
  }

fieldset{
  margin-top: 2%;
  opacity:0.6;
  width:300px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  /* width: 250px; */
  /* border-bottom: transparent;
  border-left: transparent;
  border-right: transparent; */
  }

.Google{
  color:white;
  background-color:rgb(37, 158, 37);
  border-radius: 2px;
  border-style: none;
  width:170px;
  height:50px;
  font-family: Arial, Helvetica, sans-serif;
  }
