body{
  /* background-color: rgb(52, 29, 29); */
  background-color: #303030;
  margin: 0%;
  padding: 0%;
  }
  h3{
  color:white;
  padding: top 1%;
  }
  p{
  color:white;
  font-size: 16px;
  }
  span{
  color:white;
  margin-top: 2px;
  margin-right: 50px;
  font-family: Calibri;
  font-size: 13px;
  
  }
  h5{
  color:orange;
  opacity: 0.8;
  font-size:12px;
  margin-right: 187px;
  /* margin-right: 70px; */
  font-family: Calibri;
  }
  .button1{
  width:140px;
  border-style: none;
  height:25px;
  border-radius: 3px;
  color:white;
  opacity:0.4;
  background-color:rgb(95, 84, 84);
  }
  form{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  }
  .div1{
  height: 479.34px;
  width: 400px;
  background-color:#424242;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  max-width: fit-content;
  border-width: 10px;
  align-content: center;
  }
  .checkbox{
  border-color: white;
  background-color:rgb(18, 36, 36);
  color:black;
  border:1px;
  background-color: transparent;
  border-style: solid;
  
  }
  .large{
    height: 479.34px;
  width: 400px;
  background-color:#424242;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  max-width: fit-content;
  border-width: 10px;
  align-content: center;
  }
  ::placeholder{
    color:white;
    opacity:1;
    font-family:Calibri;
    margin-left: 5px;
  }
  .input1{
  background-color:rgb(18, 36, 36);
  height:35px;
  color:white;
  width:300px;
  border:0.2px solid rgb(97, 88, 88);
  border-radius: 3px;
  opacity: 0.5;
  border-color: white;
  }
  .class1{
  margin-right: 265px;
  font-family: Calibri;
  font-size: 20px;
  }
  .class2{
  color:orange;
  font-size: 12px;
  }
  legend{
  color:white;
  text-align: center;
  }
  fieldset{
  width:300px;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
  }
  .Google{
  color:white;
  background-color:red;
  border-radius: 2px;
  border-style: none;
  height:25px;
  }
